/* Debug borders */
p, li, dt, dd, div, pre, h1, h2, h3, h4, h5, h6 {
/*
  border: 1px solid red;
*/
}

body {
  margin:1em 5% 1em 5%;
  padding:0;
  background-color: white;
  color: black;
  font-family:  MyriadProLight, Georgia, sans-serif, arial;
  font-size: 14pt;
  /*font-size: medium;*/
  line-height: 1.3em;
  color: #333;
  color: black;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 1000px;
}

/* http://www.fontsquirrel.com/fontface/generator */
@font-face {
  font-family: 'MyriadProRegular';
  src: url('./fonts/myriadpro-regular-webfont.eot');
  src: local('?'), url('./fonts/myriadpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProLight';
  src: url('./fonts/myriadpro-light-webfont.eot');
  src: local('?'), url('./fonts/myriadpro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProSemibold';
  src: url('./fonts/myriadpro-semibold-webfont.eot');
src: local('?'), url('./fonts/myriadpro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a {
  color:black;
  text-decoration:none;
  border-bottom: 1px dotted black;
}
/*a:visited {
  color: fuchsia;
}*/

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

tt {
  color: navy;
}

h1, h2, h3, h4, h5, h6, h1, h2 {
  font-size: 20pt;
  font-weight: normal;
  font-family: MyriadProSemibold, arial, sans-serif;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
  text-decoration: none;
  color: #333;
}

h1 {
  border-bottom: 2px solid silver;
  color: gray;
  letter-spacing:  0px;
  font-size: 30pt;
}

h2 {
  border-bottom: 2px solid;
  font-family: MyriadProRegular;
  padding-top: 0.5em;
  letter-spacing:  0px;
}


div.sectionbody {
  font-family: serif;
  margin-left: 0;
}

hr {
  border: 1px solid silver;
}

p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 15px;
}

li {
  font-size: 15px;
}

pre {
  padding: 0;
  margin: 0;
}

span#author {
  color: #527bbd;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
span#email {
}
span#revision {
  font-family: sans-serif;
}

div#footer {
  font-family: sans-serif;
  font-size: small;
  border-top: 2px solid silver;
  padding-top: 0.5em;
  margin-top: 4.0em;
}
div#footer-text {
  float: left;
  padding-bottom: 0.5em;
}
div#footer-badges {
  float: right;
  padding-bottom: 0.5em;
}

.dashbar {
    border-top: 1px dashed #bbbbbb;
    margin-bottom: 15px;
    margin-top: 15px;
}

div#preamble,
div.tableblock, div.imageblock, div.exampleblock, div.verseblock,
div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock,
div.admonitionblock {
  margin-right: 10%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
div.admonitionblock {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

div.content { /* Block element content. */
  padding: 0;
}

/* Block element titles. */
div.title, caption.title {
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}
div.title + * {
  margin-top: 0;
}

td div.title:first-child {
  margin-top: 0.0em;
}
div.content div.title:first-child {
  margin-top: 0.0em;
}
div.content + div.title {
  margin-top: 0.0em;
}

div.sidebarblock > div.content {
  background: #ffffee;
  border: 1px solid silver;
  padding: 0.5em;
}

div.listingblock {
  margin-right: 0%;
}
div.listingblock > div.content {
  border: 1px solid silver;
  background: #f4f4f4;
  padding: 0.5em;
}

div.quoteblock > div.content {
  padding-left: 2.0em;
}

div.attribution {
  text-align: right;
}
div.verseblock + div.attribution {
  text-align: left;
}

div.admonitionblock .icon {
  vertical-align: top;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  color: #527bbd;
  padding-right: 0.5em;
}
div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 2px solid silver;
}

div.exampleblock > div.content {
  border-left: 2px solid silver;
  padding: 0.5em;
}

div.verseblock div.content {
  white-space: pre;
}

div.imageblock div.content { padding-left: 0; }
div.imageblock img { border: 1px solid silver; }
span.image img { border-style: none; }

dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: italic;
}
dd > *:first-child {
  margin-top: 0;
}

ul, ol {
  list-style-position: outside;
  margin-left: 1.5em;
  padding-left: 0px;
}
ol.olist2 {
  list-style-type: lower-alpha;
}

div.tableblock > table {
  border: 3px solid #527bbd;
}
thead {
  font-family: sans-serif;
  font-weight: bold;
}
tfoot {
  font-weight: bold;
}

div.hlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
td.hlist1 {
  vertical-align: top;
  font-style: italic;
  padding-right: 0.8em;
}
td.hlist2 {
  vertical-align: top;
}



@media print {
  div#footer-badges { display: none; }
}

div#toctitle {
  color: #527bbd;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

div.toclevel1, div.toclevel2 {
  margin-top: 0;
  margin-bottom: 0;
}
div.toclevel2 {
  margin-left: 2em;
}
/* Workarounds for IE6's broken and incomplete CSS2. */

div.sidebar-content {
  background: #ffffee;
  border: 1px solid silver;
  padding: 0.5em;
}
div.sidebar-title, div.image-title {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0.0em;
  margin-bottom: 0.5em;
}

div.listingblock div.content {
  border: 1px solid silver;
  background: #f4f4f4;
  padding: 0.5em;
}

div.quoteblock-content {
  padding-left: 2.0em;
}

div.exampleblock-content {
  border-left: 2px solid silver;
  padding-left: 0.5em;
}

/* IE6 sets dynamically generated links as visited. */
div#toc a:visited { color: blue; }

.footer {
  font-size: smaller
}

.me {
	color:gray;
	text-decoration:none; 
	border-bottom:none;
	}


.social-icons li a {font-size: 20px; color: #323232; border-bottom:none; cursor: pointer;}

.social-icons li a:hover, .social-icons li a:focus {font-size: 20px; color: #DB522F; cursor: pointer; } 

.list-inline li {font-size: 20px;display:inline-block;padding-right:5px;padding-left:5px;}

.noborderimage a, .noborderimage a:link, .noborderimage a:active, .noborderimage a:visited, .noborderimage a:hover  		{
  border: 0px;
  text-decoration: none;
  border-style: none;
  }

.aboutme
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 17px;
	line-height: 25px;
}

.annotation
{
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    font-size: 12px;
	line-height: 12px;
}

.projectname
{
	margin-top: 0.0em;
	margin-bottom: 0.2em;
	border-style: none;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
}

.info
{
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	border-style: none;
	font-weight: bold;
	font-size: 15px;
	color: #999;
	line-height: 15px;
}

.fun-link, .portrait {
  color:black;
  text-decoration:none;
  border-bottom:none;
}

a:hover {
  color: #DB522F;
}




